@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.sidebar-wrapper {
  @include flexColumn;
  gap: 1rem;
  background-color: #bde0fe;
  @include shadow1;
  margin-top: 1rem;
  padding-top: 2rem;

  .active-sidebar-item {
    color: $red;
    padding: 0.5rem 1rem;
  }

  .passive-sidebar-item {
    color: $black;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: #a2d2ff;
    }
  }
}
